<img src="http://blogserflamengo.files.wordpress.com/2013/07/5871b-img_0068.jpg" id="background">
<div class="row">
  <div class="col-md-8 front-page">
    <br>
    <br>
    <br>
    <br>
    <h1>Welcome to the Futbot project </h1>
    <p> Futbot project is a data mining project which acurately predicts the outcome of future soccer matches.</p>
  </div>
  <div class="col-md-4 card">
    <h4>New to Soccer project? Sign up</h4>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <%= devise_error_messages! %>

      <div class="form-group">
          <!-- <%= f.label :username, :class => "col-sm-3 control-label" %>
           -->
          <%= f.text_field :username , :class => "form-control", :placeholder => "Username" %>
      </div>

      <div class="form-group">
          <!-- <%= f.label :email, :class => "col-sm-3 control-label" %> -->
          <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Email" %>
      </div>

      <div class="form-group">
        <!-- <%= f.label :password, :class => "col-sm-3 control-label" %> -->
        <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Password"%>
        <% if @validatable %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      </div>

      <div class="form-group">
        <!--<%= f.label :password_confirmation, :class => "col-sm-3 control-label"%><br />-->
        <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" , :placeholder => "Confirm password" %>
      </div>
      <!-- CREATE BUTTON -->
      <div class="form-group">
        <div class="actions">
          <%= f.submit "Sign up", :class=>"btn btn-primary" %>
        </div>
      </div>

    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
<div class="row">
  <br>
</div>
