<img src="http://blogserflamengo.files.wordpress.com/2013/07/5871b-img_0068.jpg" id="background">
<div class="row card">
  <div class="col-md-12">
  <!-- Match panel Starts -->
    <h2><%= @match.tournament %></h2>
    <% if @match.round.present?  %>
    <h2>
      Round <%= @match.round %>
    </h2>
    <% end  %>
    <h3>
          <% if @match.match_on.present?  %>
            <%= @match.match_on.strftime("%e/%m/%y") %> -
          <% end  %>

          <% if @match.match_at.present?  %>
            <%= @match.match_at.strftime("%H:%M") %>
          <% end  %>
    </h3>
  </div>
  <div class="row" >
    <div class="row">
      <div class="col-xs-4">
        <img src="/<%= @match.home_team.crest %>" class="crest">
        <br>
        <p class="text-center"><%= @match.home_team.label %></p>
      </div>
      <div class="col-xs-1">
        <p class="score"><%= @match.home_goal %></p>
      </div>
      <div class="col-xs-2">
        <p class="score">x</p>
      </div>
      <div class="col-xs-1">
        <p class="score"><%= @match.away_goal %></p>
      </div>
      <div class="col-xs-4">
        <img src="/<%= @match.away_team.crest %>" class="crest">
        <br>
        <p class="text-center"><%= @match.away_team.label %></p>
      </div>
    </div>
  <!-- Match panel ends -->
  <!--Vote bars start -->
    <div class="row">
      <div class="row">
        <% if @match.outcome == nil %>
          <h3>What everyone is betting </h3>
        <% else %>
          <h3>What everyone bet </h3>
        <% end %>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <p style="text-align: right"><%= @match.home_team.label %> victory</p>
        </div>
        <div class="col-xs-7">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="100%" aria-valuemin="0" aria-valuemax="100" style="width: <%= @home_count/@total_count*100 %>%">
              <%= (@home_count/@total_count*100).round(0) %>%
            </div>
          </div>
        </div>
        <div class="col-xs-1">
          <% if @match.outcome == 1 %>
          <span class="badge">Winner</span>
          <% end %>
          <% if @user_bet == 1 %>
          <span class="badge">You</span>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <p style="text-align: right">Draw</p>
        </div>
        <div class="col-xs-7">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="100%" aria-valuemin="0" aria-valuemax="100" style="width: <%= @draw_count/@total_count*100 %>%">
              <%= (@draw_count/@total_count*100).round(0) %>%
            </div>
          </div>
        </div>
        <div class="col-xs-1">
        <% if @match.outcome == 0 %>
          <span class="badge">Draw</span>
        <% end %>
        <% if @user_bet == 0 %>
          <span class="badge">You</span>
        <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <p style="text-align: right"><%= @match.away_team.label %> victory</p>
        </div>
        <div class="col-xs-7">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="100%" aria-valuemin="0" aria-valuemax="100" style="width: <%= @away_count/@total_count*100 %>%">
              <%= (@away_count/@total_count*100).round(0) %>%
            </div>
          </div>
        </div>
        <div class="col-xs-2">
        <% if @match.outcome == -1 %>
          <span class="badge">Winner</span>
        <% end %>
        <% if @user_bet == -1 %>
          <span class="badge">You</span>
        <% end %>
        </div>
      </div>

    </div>

  </div>
  <div class="col-md-12">
        <p>Total number of bets: <%= @total_count.round(0) %></p>
    </div>
  <div class="col-md-12">
    <br>
    <% if @match.outcome == nil %>
      <div style="text-align:center">
        <a class="btn btn-primary btn-lg" href="/current/<%= @match_link %>">Bet another match</a>
      </div>
    <% else %>
      <a href="/past">Go back</a>
    <% end %>
    <br>
  </div>
</div>
