<!-- Validation failure messages -->
<% if @bet.errors != nil %>
  <% if @bet.errors.any? %>
    <% @bet.errors.full_messages.each do |message| %>
      <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <h1>Edit bet</h1>
    <br>
    <form action="/update_bet/<%= @bet.id %>" class="form-horizontal">
      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="col-sm-3 control-label">
          Username
        </label>
        <div class="col-sm-9">
          <div class="dropdown customizeMenu">
            <%= select_tag(:user_id, options_from_collection_for_select(User.order("username"), :id, :username, @bet.user_id), :class => "form-control") %>
          </div>
        </div>
      </div>

      <!-- Label and input for match_id -->
      <div class="form-group">
        <label for="match_id" class="col-sm-3 control-label">
          Match ID
        </label>
        <div class="col-sm-9">
          <div class="dropdown customizeMenu">
           <%= select_tag(:match_id, options_from_collection_for_select(Match.order("match_on"), :id, :id, @bet.match_id), :class => "form-control") %>
          </div>
        </div>
      </div>

      <!-- Label and input for bet -->
      <div class="form-group">
        <label for="bet" class="col-sm-3 control-label">
          Bet
        </label>
        <div class="col-sm-9">
          <!--<input type="text" id="bet" name="bet" placeholder="Match ID" class="form-control" value="<%= @bet.bet %>"> -->
          <select class="form-control" id="bet" name="bet">
              <option value="1"
                <% if @bet.bet == 1 %>
                  selected
                <% end  %>
              >Home team victory</option>

              <option value="0"
                <% if @bet.bet == 0 %>
                  selected
                <% end  %>
              >Draw</option>
              <option value="-1"
                <% if @bet.bet == -1 %>
                  selected
                <% end  %>
              >Away team victory</option>
            </select>
        </div>
      </div>

      <!-- EDIT BUTTON -->
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
          <input type="submit" value="Edit bet" class="btn btn-primary">
        </div>
      </div>

    </form>

    <div class="col-md-12">
      <br>
      <a href="/bets">Go back</a>
      <br>
    </div>
  </div>
</div>
