<div class="row">
  <div class="col-md-12">

    <h1>Manage bets</h1>
    <p><a href="/bets/new_form" class="btn btn-primary">Add new bet</a></p>
    <table class="table table-striped">
      <tr>
        <th>User</th>
        <th>Match</th>
        <th>Bet</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% @bet.each do |bet| %>
      <tr>
        <td ><%= bet.user.username %></td>
        <td ><%= bet.match.home_team.label %> x <%= bet.match.away_team.label %> (<%= bet.match.match_on%>)</td>
        <td>
          <% case bet.bet %>
          <% when 1 %>
          Home victory
          <% when 0 %>
          Draw
          <% when -1 %>
          Away victory
          <% end %>
        </td>
        <td><a href="bets/<%= bet.id %>">View</a></td>
        <td><a href="bets/<%= bet.id %>/edit_form">Edit</a></td>
        <td><a href="bets/<%= bet.id %>/delete">Delete</a></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
