<!-- Validation failure messages -->
  <% if @match.errors.any? %>
    <% @match.errors.full_messages.each do |message| %>
      <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= message %>
      </div>
    <% end %>
  <% end %>

<div class="row">
  <div class="col-md-12">
    <h1>Edit match</h1>
    <br>
    <form action="/update_matches/<%= @match.id %>'" class="form-horizontal">

    <!-- Username -->
      <input type="hidden" id="user_id" name="user_id" value=<%= @match.user_id %> class="form-control">

    <!-- tournament -->
      <div class="form-group">
        <label for="tournament" class="col-sm-3 control-label">
          Tournament
        </label>
        <div class="col-sm-9">
          <div class="dropdown customizeMenu">
            <select class="form-control" id="tournament" name="tournament" value="<%= @match.tournament %>">
              <option>Campeonato Brasileiro - Série A</option>
            </select>
          </div>
        </div>
      </div>

      <!-- round -->
      <div class="form-group">
        <label for="round" class="col-sm-3 control-label">
          Round
        </label>
        <div class="col-sm-3">
          <input type="number" id="round" name="round" class="form-control" value="<%= @match.round %>" min="1" max="38">
        </div>
      </div>

      <!-- match_on -->
     <div class="form-group">
        <label for="match_on" class="col-sm-3 control-label">
          Date
        </label>
        <div class="col-sm-3">
          <input type="match_on" id="match_on" name="match_on" placeholder="mm/dd/yyyy" class="form-control" value="<%= @match.match_on %>">
        </div>
      </div>

      <!-- match_at -->
      <div class="form-group">
        <label for="match_at" class="col-sm-3 control-label">Time of day</label>
        <div class="col-sm-9">
          <div class="dropdown customizeMenu">
            <select class="form-control" id="match_at" name="match_at" >
              <option>4:00 PM</option>
              <option>6:30 PM</option>
              <option>10:00 PM</option>
            </select>
          </div>
        </div>
      </div>

      <!-- venue -->
      <div class="form-group">
        <label for="venue" class="col-sm-3 control-label">Venue</label>
        <div class="col-sm-9">
          <input type="text" id="venue" name="venue" placeholder="Venue" class="form-control" value="<%= @match.venue %>">
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">Home team</div>
        <div class="panel-body">
          <!-- home_team_id -->
          <div class="form-group">
            <label for="home_team_id" class="col-sm-3 control-label">Name</label>
            <div class="col-sm-9">
              <div class="dropdown customizeMenu">
                <%= select_tag(:home_team_id, options_from_collection_for_select(Team.all, :id, :label, @match.home_team_id),:include_blank =>:true, :class => "form-control") -%>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="home_goal" class="col-sm-3 control-label">Score</label>
            <div class="col-sm-2">
            <input type="number" id="home_goal" name="home_goal" min="0" max="99" class="form-control" value="<%= @match.home_goal %>">
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Away team</div>
        <div class="panel-body">
          <!-- away_team_id -->
          <div class="form-group">
            <label for="away_team_id" class="col-sm-3 control-label">Name</label>
            <div class="col-sm-9">
              <div class="dropdown customizeMenu">
              <%= select_tag(:away_team_id, options_from_collection_for_select(Team.all, :id, :label, @match.away_team_id),:include_blank =>:true, :class => "form-control") %>
            </div>
            </div>
          </div>

          <div class="form-group">
            <label for="away_goal" class="col-sm-3 control-label">Score</label>
            <div class="col-sm-2">
            <input type="number" id="away_goal" name="away_goal" min="0" max="99" class="form-control" value="<%= @match.away_goal %>">
            </div>
          </div>
        </div>
      </div>
      <!-- UPDATE BUTTON -->
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
          <input type="submit" value="Edit match" class="btn btn-primary">
        </div>
      </div>

    </form>
    <div class="col-md-12">
      <br>
      <a href="/matches">Go back</a>
      <br>
    </div>
  </div>
</div>
