<div class="row">
  <div class="col-md-12">

    <h1>Manage matches</h1>
    <p><a href="/matches/new_form" class="btn btn-primary">Add new match</a></p>
    <table class="table table-striped">
      <tr>
        <th>Tournament</th>
        <th>Round</th>
        <th>Date</th>
        <th>Time</th>
        <th>Venue</th>
        <th>Home team</th>
        <th></th>
        <th></th>
        <th></th>
        <th>Away team</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% @match.each do |match| %>
      <tr>
        <td><%= match.tournament %></td>
        <td><%= match.round %></td>
        <td>
        <% if !match.match_on.nil?  %>
          <%= match.match_on.strftime("%e/%m/%y") %>
        <% end  %>
        </td>
        <td>
        <% if !match.match_at.nil?  %>
          <%= match.match_at.strftime("%H:%M") %>
        <% end  %>
        </td>
        <td>
        <% if match.venue.present? %>
          <%= match.venue.label %>
        <% else %>
        Error: Venue not found!
        <% end %>
        </td>
        <td>
        <% if match.home_team.present? %>
          <img src="<%= match.home_team.crest %>" class="crest">
        <% else %>
        Error: team not found!
        <% end %>
        </td>
        <td><%= match.home_goal %></td>
        <td >X</td>
        <td><%= match.away_goal %></td>
        <td>
        <% if match.away_team.present? %>
          <img src="<%= match.away_team.crest %>" class="crest">
        <% else %>
          Error: team not found!
        <% end %>
        </td>
        <td><a href="matches/<%= match.id %>">View</a></td>
        <td><a href="matches/<%= match.id %>/edit_form">Edit</a></td>
        <td><a href="matches/<%= match.id %>/delete">Delete</a></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
