<div class="row">
  <div class="col-md-8">
    <dl class="dl-horizontal">
      <dt>Tournament</dt>
      <dd><%= @match.tournament %></dd>
      <dt>Round</dt>
      <dd><%= @match.round %></dd>
      <dt>Match date</dt>
      <dd>
        <% if !@match.date.nil?  %>
          <%= @match.date.strftime("%e/%m/%y") %>
        <% end  %>
      </dd>
      <dt>Match starting time</dt>
      <dd>
        <% if !@match.time.nil?  %>
          <%= @match.time.strftime("%H:%M") %>
        <% end  %>
      </dd>
      <dt>Match venue</dt>
      <dd><%= @match.venue %></dd>
      <dt>Home team</dt>
      <dd><%= @match.home_team.label %></dd>
      <dt>Away team</dt>
      <dd><%= @match.away_team.label %></dd>

    </dl>
  </div>
  <div class="col-md-12">
    <br>
    <a href="/matches">Go back</a>
    <br>
  </div>
</div>
