<div class="row">
  <div class="col-md-12">

    <h1>Manage teams</h1>
    <p><a href="/teams/new_form" class="btn btn-primary">Add new team</a></p>
    <table class="table table-striped">
      <tr>
        <th>Team name</th>
        <th>System name</th>
        <th class="text-center">Logo</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% @team.each do |team| %>
      <tr>
        <td ><%= team.label %></td>
        <td ><%= team.name %></td>
        <td >
        <% if not team.crest == nil %>
          <img  src="<%= team.crest %>" style="max-height: 50px; max-width: 50px">
        <% end %>
        </td>
        <td><a href="teams/<%= team.id %>">View</a></td>
        <td><a href="teams/<%= team.id %>/edit_form">Edit</a></td>
        <td><a href="teams/<%= team.id %>/delete">Delete</a></td>
      </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
