<div class="row">
  <div class="col-md-12">
    <% if @alert_create == true %>
      <div class="alert alert-success">
        <p>Uhu! Team created sucessfully!</p>
      </div>
    <% end  %>

    <% if @alert_update == true %>
      <div class="alert alert-success">
        <p>Uhu! Team updated sucessfully!</p>
      </div>
    <% end  %>
    <h1><%= @team.label %></h1>
    <br>
  </div>
  <div class="col-md-8">
  <br>
    <dt>Team name</dt>
    <dd><%= @team.label %></dd>
    <dt>System name</dt>
    <dd><%= @team.name %></dd>
    <dt>Crest URL</dt>
    <dd><%= @team.logo %></dd>
  </div>
  <div class="col-md-4">
    <img src="<%= @team.logo %>">
  </div>
  <div class="col-md-12">
    <br>
    <a href="/teams">Go back</a>
    <br>
  </div>
</div>
