<div class="row">
  <div class="col-md-12">
     <% if current_user.admin? %>
    <h1><%= @user.username %></h1>
    <br>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <h4>User data</h4>
    <dl class="dl-horizontal">
      <dt>User ID</dt>
      <dd><%= @user.id %></dd>
      <dt>Username</dt>
      <dd><%= @user.username %></dd>
      <dt>Email</dt>
      <dd><%= @user.email %></dd>
      <dt>Admin rights?</dt>
      <dd><%= @user.admin %></dd>
    </dl>
  </div>

    <div class="col-md-12">
    <h4>Bets</h4>
    <table class="table table-striped">
        <tr>
          <th>Match</th>
          <th>Bet</th>
          <th>Result</th>
          <th>Bet date</th>
        </tr>
        <%  @user.bets.each do |bet|  %>
        <tr>
        <td> <%= bet.match.home_team.label %> x <%= bet.match.away_team.label %> (<%= bet.match.match_on%>)</td>
        <td>
          <% case bet.bet %>
            <% when 1 %>
            <%= bet.match.home_team.label %>
          <% when 0 %>
            Draw
          <% when -1 %>
            <%= bet.match.away_team.label %>
          <% end %>
        </td>
        <td>
          <% case bet.match.outcome %>
            <% when 1 %>
            <%= bet.match.home_team.label %>
          <% when 0 %>
            Draw
          <% when -1 %>
            <%= bet.match.away_team.label %>

          <% end %>
        </td>
        <td>
        <%= bet.created_at.strftime("%e/%m/%y") %>
        </td>
        </tr>
        <% end %>
    </table>
  <% else %>
    <p>Page unavailable =(</p>
  <% end %>
  </div>

  <div class="col-md-12">
    <br>
    <a href="/users">Go back</a>
    <br>

  </div>
</div>
