<div class="row">
  <div class="col-md-12">
    <h1><%= @user.username %></h1>
    <br>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <h4>User data</h4>
    <dl class="dl-horizontal">
      <dt>User ID</dt>
      <dd><%= @user.id %></dd>
      <dt>Username</dt>
      <dd><%= @user.username %></dd>
      <dt>Email</dt>
      <dd><%= @user.email %></dd>
      <dt>Admin rights?</dt>
      <dd><%= @user.admin %></dd>
    </dl>
  </div>

  <div class="col-md-12">
    <h4>Bets</h4>
    <table class="table table-striped">
        <tr>
          <th>Match</th>
          <th>Bet</th>
          <th>Result</th>
          <th>Bet date</th>
        </tr>
        <%  @user.bets.each do |bet|  %>
        <tr>
        <td>
        <% if bet.match.present? %>
        <a href="/matches/<%= bet.match.id %>"><%= bet.match.label %></a>
        <% end %>
        </td>
        <td>
          <% case bet.bet %>
            <% when 1 %>
            <% if bet.match.present? and bet.match.home_team.present? and bet.match.away_team.present? %>
              <%= bet.match.home_team.label %>
            <% end %>
          <% when 0 %>
            Draw
          <% when -1 %>
            <% if bet.match.present? and bet.match.home_team.present? and bet.match.away_team.present? %>
              <%= bet.match.away_team.label %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if bet.match.present? and bet.match.home_team.present? and bet.match.away_team.present? %>
            <% case bet.match.outcome %>
              <% when 1 %>
              <%= bet.match.home_team.label %>
            <% when 0 %>
              Draw
            <% when -1 %>
              <%= bet.match.away_team.label %>

            <% end %>
          <% end %>
        </td>
        <td>
        <%= bet.created_at.strftime("%e/%m/%y") %>
        </td>
        </tr>
        <% end %>
    </table>
  </div>

  <div class="col-md-12">
    <br>
    <a href="/users">Go back</a>
    <br>

  </div>
</div>
