<div class="row">
  <div class="col-md-12">
    <h1><%= @venue.label %></h1>
    <br>
  </div>
  <div class="col-md-8">
  <br>
    <h4>venue data</h4>
    <dl class="dl-horizontal">
      <dt>venue name</dt>
      <dd><%= @venue.label %></dd>
      <dt>System name</dt>
      <dd><%= @venue.name %></dd>
      <dt>Crest URL</dt>
      <dd><%= @venue.crest %></dd>
    </dl>
  </div>
  <div class="col-md-4">
    <img src="/<%= @venue.crest %>">
  </div>
  <div class="col-md-12">
    <br>
    <a href="/venues">Go back</a>
    <br>
  </div>
</div>
