<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Soccer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" type="text/css" href="css/soccer.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link href='http://fonts.googleapis.com/css?family=Armata' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- header starts -->
      <nav class="navbar navbar-default " role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Soccer project</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

              <% if current_user.present? %>
                 <li><a href="/current/<%= @match_link %>">Guess a match</a></li>
                <li><a href="/users/edit">Hello, <%= current_user.username %>!</a></li>
                <li><a href="/users/sign_out" data-method="delete">Sign out</a></li>
              <% else %>
                 <li><a href="/about">About</a></li>
                <li><a href="/users/sign_up">Sign up</a></li>
                <li><a href="/users/sign_in">Sign in</a></li>
              <% end %>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <!-- header ends -->
  <div class="container" style="max-width: 760px; min-height: 70%">
    <div class="row">
      <% if notice.present? %>
        <div class="alert alert-info " role="alert">
          <p><%= notice %></p>
        </div>
      <% end %>
      <% if alert.present? %>
      <div class="alert alert-danger" role="alert">
        <p ><%= alert %></p>
      </div>
      <% end %>
    </div>
    <%= yield %>
  </div>
  <!--  Footer starts -->
  <div class="container-fluid footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4>Project</h4>
          <ul>
            <li><a href="/about.html">About</a></li>
            <li><a href="/howitworks">How it works</a></li>
            <li><a href="/faq">FAQ</a></li>
          </ul>

        </div>
        <div class="col-md-6">
          <% if current_user.present? %>
            <h4>Matches</h4>
            <ul>
              <li><a href="/current/<%= @match_link %>">Guess a match</a></li>
              <li><a href="/current">Your current bets</a></li>
              <li><a href="/past">Past results</a></li>
              <!--<li><a href="/matches/new_form">customize your match</a></li>-->
            </ul>

            <% if current_user.admin == true %>
            <h4>Admin stuff</h4>
            <ul>
              <li><a href="/todo.html">To do list</a></li>
              <li><a href="/bets">Manage bets</a></li>
              <li><a href="/matches">Manage matches</a></li>
              <li><a href="/teams">Manage teams</a></li>
              <li><a href="/users">Manage users</a></li>
            </ul>
             <% end %>
          <% end %>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <p class="text-uppercase">©Copyright 2014</p>
        </div>
      </div>
    </div>
  </div>
  <!--  Footer ends -->
</body>
</html>
